## This file shows the environment variables our app uses. Empty values are 
## used here for items that require a secret value.

NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000

# Postgres DB
POSTGRES_DB=harmonyhub
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# APIs
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback/spotify
YTMUSIC_API_BASE_URL=http://127.0.0.1:8000

# Better Auth
BETTER_AUTH_SECRET=
## Base URL of our app
BETTER_AUTH_URL=http://127.0.0.1:3000

# web-push usage (for push notifications)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Encryption key for encrypting sensitive data stored in the database outside Better Auth
ENCRYPTION_KEY=
